.footer {
    color: #fff;
    padding: 3rem 0;
}

.footer .footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #fff;
}


.footer-top ul li {
    margin-bottom: 1rem;
    transition: 0.2s;
    width: fit-content;
    cursor: pointer;
}

.footer-top ul li:hover {
    color: var(--secondary-text);
}

.footer .copyright-box {
    padding-top: 3rem;
    text-align: center;
}


@media (max-width: 768px) {
    .footer .footer-top {
        grid-template-columns: 1fr;
    }

}